services:
  backend:
    build: ./backend
    ports:
      - "8080:8080"
    environment:
      - GIN_MODE=release
    networks:
      - app-network
    container_name: poke-backend

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-network
    container_name: poke-frontend

networks:
  app-network:
    driver: bridge
